site_name: "Stove"
repo_url: https://github.com/trendyol/stove
edit_uri: https://github.com/trendyol/stove/edit/main/docs
extra_css:
  - css/custom.css
plugins:
  - search
  - awesome-pages:
     collapse_single_pages: true
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Components:
    - Overview: Components/index.md
    - Couchbase: Components/01-couchbase.md
    - Kafka: Components/02-kafka.md
    - Elasticsearch: Components/03-elasticsearch.md
    - WireMock: Components/04-wiremock.md
    - HTTP Client: Components/05-http.md
    - PostgreSQL: Components/06-postgresql.md
    - MongoDB: Components/07-mongodb.md
    - MSSQL: Components/08-mssql.md
    - Redis: Components/09-redis.md
    - Bridge: Components/10-bridge.md
    - Provided Instances: Components/11-provided-instances.md
    - gRPC: Components/12-grpc.md
  - Writing Custom Systems: writing-custom-systems.md
  - Best Practices: best-practices.md
  - Troubleshooting: troubleshooting.md
  - Release Notes:
      - 0.19.0: release-notes/0.19.0.md
      - 0.15.0: release-notes/0.15.0.md
theme:
  name: material
  logo: assets/logo.png
  features:
    - content.code.annotate
    - content.tabs.link
    - content.tooltips
    - header.autohide
    - navigation.top
    - navigation.tracking
    - navigation.sections
    - navigation.indexes
    - navigation.footer
    - search.highlight
    - search.share
    - search.suggest
    - toc.integrate

  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - tables
  - attr_list
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra:
  social:
    - icon: fontawesome/regular/building
      link: https://trendyol.github.io/
