micronaut:
  application:
    name: micronaut-example
  server:
    port: 8080
  http:
    services:
      lookup-api:
        url: http://localhost:7079
        connect-timeout: 2s
        read-timeout: 22s

micrometer:
  metrics:
    enabled: true
    common-tags:
      application: "micronaut-example"

r2dbc:
  datasources:
    default:
      url: r2dbc:postgresql://localhost:5432/stove
      username: postgres
      password: postgres

