spring:
  application:
    name: "stove"
  servlet:
    multipart:
      max-request-size: 10MB
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/stove
    username: postgres
    password: postgres

server:
  port: 8001
  http2:
    enabled: false


http-clients:
  supplier-http:
    url: http://localhost:7078
    connectTimeout: 2000
    readTimeout: 20000

kafka:
  bootstrapServers: localhost:9092
  topicPrefix: trendyol.stove.service
  acks: 1
  secureKafka: false
  autoCreateTopics: false
  offset: "latest"
  heartbeatInSeconds: 30
  request-timeout: "20000"
  default-api-timeout: "20000"
  config:
    thread-count:
      basic-listener: 25
  producer:
    prefix: trendyol.stove.service
    product-created:
      topic-name: ${kafka.producer.prefix}.productCreated.1
  consumers:
    retryTopicSuffix: trendyol.stove.service.retry
    errorTopicSuffix: trendyol.stove.service.error
    enabled: true
    groupId: trendyol.stove.service
    product-create:
      topic: trendyol.stove.service.product.create.0
      retryTopic: ${kafka.consumers.product-create.topic}.${kafka.consumers.retryTopicSuffix}
      errorTopic: ${kafka.consumers.product-create.topic}.${kafka.consumers.errorTopicSuffix}
    product-failing:
      topic: trendyol.stove.service.product.failing.0
      retryTopic: ${kafka.consumers.product-failing.topic}.${kafka.consumers.retryTopicSuffix}
      errorTopic: ${kafka.consumers.product-failing.topic}.${kafka.consumers.errorTopicSuffix}
