name: Build Recipes
on:
  push:
    branches: [ main ]
    paths:
      - 'recipes/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'recipes/**'
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged
    steps:
      - name: Configure JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'

      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: current

      - name: Gradle Build and Test
        run: -p recipes --build-cache build test e2eTest
