name: Publish to Snapshot Maven
on:
  workflow_dispatch:
jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'Trendyol/stove'
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: current

      - name: Publish to Maven Repository
        run: gradle publish --parallel
        env:
          SNAPSHOT: true
          gpg_private_key: ${{ secrets.gpg_private_key }}
          gpg_passphrase: ${{ secrets.gpg_passphrase }}
          nexus_username: ${{ secrets.nexus_username }}
          nexus_password: ${{ secrets.nexus_password }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
