name: Publish to Snapshot Maven
on:
  push:
    branches: [ main ]
    paths:
      - 'examples/**'
      - 'lib/**'
      - 'starters/**'
      - 'gradle/**'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - 'gradle.properties'
      - 'buildSrc/**'
env:
  SNAPSHOT: true
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: Publish to Maven Repository
        uses: gradle/actions/setup-gradle@v3
        with:
          arguments: --build-cache publish --parallel
        env:
          gpg_private_key: ${{ secrets.gpg_private_key }}
          gpg_passphrase: ${{ secrets.gpg_passphrase }}
          nexus_username: ${{ secrets.sonar_username }}
          nexus_password: ${{ secrets.sonar_token }}
